<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Message</title>
</head>
<body>
    <h1>Send a Message to Recruiter: {{ recruiter.username }}</h1>

    <form method="POST">
        {% csrf_token %}
        <label for="seeker_message">Your Message to Recruiter:</label><br>
        <textarea name="seeker_message" rows="4" cols="50"></textarea><br><br>

        <label for="recruiter_message">Recruiter Message:</label><br>
        <textarea name="recruiter_message" rows="4" cols="50"></textarea><br><br>

        <button type="submit">Send Message</button>
    </form>
</body>
</html>
